<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    {% load custom_tags %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <div class="dashboard">
        <main class="main-content">
            <header class="navbar">
                <div class="breadcrumb">
                    <span class="breadcrumb-text"> 
                        {% if current_path %}
                            {{ current_path }}
                        {% else %}
                            Home
                        {% endif %}
                    </span>
                </div>
            
                <div class="actions">
                    <button id="create-folder" style= "font-size: medium">Create Folder</button>
                    <button id="upload-file" style= "font-size: medium" >Upload File</button>
                    <button id="download-all-zip" data-folder="folder-name" style= "font-size: medium" >Download All</button>
                </div>
            </header>
            
            
            <div id="file-system">
                {% for folder in folders %}
                <div class="folder-card">
                    <div class="three-dots">
                        <i class="fa fa-ellipsis-v" style="padding:5px"></i>
                        <div class="dropdown-menu" style="display: none;">
                            <div class="dropdown-item delete">
                                <form method="post" action="{% url 'delete-folder' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="path" value="{{ folder.name }}">
                                    <button type="submit" style="border: none; background: none; padding: 0; margin: 0;" class="action-btn download-btn">
                                        <i class="fas fa-trash" style="color: red;"></i> Delete
                                    </button>
                                </form>
                            </div>
                             <div class="dropdown-item download">
                                <a href="" class="btn btn-primary " style="display:inline-flex;color:black; text-decoration: none;">
                                    <i class="fas fa-download" style="color: black; margin-right: 9px;"></i> 
                                    <span>Download</span>
                                </a>
                            </div> 

                        </div>
                    </div>
                    <a href="{% url 'get-file-system' %}?path={{ folder.name }}">
                        <div class="folder-icon">
                            <i class="fas fa-folder"></i>
                        </div>
                        <div class="folder-name">
                            <span id="folder-name-{{ folder.name }}">{{ folder.name }}</span>
                            
                        </div>
                    </a>
                </div>
                {% endfor %}
            
                {% for file in files %}
                <div class="file-card">
                    <div class="three-dots">
                        <i class="fa fa-ellipsis-v" style="padding:5px"></i>
                        <div class="dropdown-menu" style="display: none;">
                            <div class="dropdown-item delete">
                                <form method="post" action="{% url 'delete-folder' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="path" value="{{ file.id }}">
                                    <button type="submit" style="border: none; background: none; padding: 0; margin: 0;">
                                        <i class="fas fa-trash" style="color: red; margin-right: 8px;"></i> Delete
                                    </button>
                                </form>
                            </div>
                            <div class="dropdown-item download">
                                <a href="{{ file.file.url }}" class="btn btn-primary " style="display:inline-flex;color:black; text-decoration: none;">
                                    <i class="fas fa-download" style="color: black; margin-right: 9px;"></i> 
                                    <span>Download</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="file-preview">
                        <div class="file-icon">
                        {% if file.name|file_type == 'text' %}
                        <i class="fas fa-file-alt" style="color: #6c757d;"></i>
                        {% elif file.name|file_type == 'code' %}
                            <i class="fas fa-code" style="color: #007bff;"></i>
                        {% elif file.name|file_type == 'excel' %}
                            <i class="fas fa-file-excel" style="color: #28a745;"></i>
                        {% elif file.name|file_type == 'pdf' %}
                            <i class="fas fa-file-pdf" style="color: #dc3545;"></i>
                        {% elif file.name|file_type == 'word' %}
                        <i class="fas fa-file-word" style="color: #007bff;"></i>
                        {% else %}
                            <i class="fas fa-file" style="color: #6c757d;"></i>
                        {% endif %}
                        </div>
                    </div>
                    <div class="file-info">
                        <div class="file-name">
                            <span id="file-name-{{ file.name }}">{{ file.name }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
                    
        </main>
    </div>

    <div id="createFolderModal" class="modal">
        <div class="modal-content">
            <h2>Create a New Folder</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="folder_name" id="newFolderName" placeholder="Enter folder name" required />
                <button type="submit" id="createFolderBtn">Create</button>
                <button type="button" id="closeModalBtn">Cancel</button>
            </form>
        </div>
    </div>

    <div id="uploadFileModal" class="modal">
        <div class="modal-content">
            <h2>Upload File</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" id="fileInput" multiple required />                
                <button type="submit" id="uploadFileBtn">Upload</button>
                <button type="button" id="closeUploadModalBtn">Cancel</button>
            </form>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.getElementById("download-all-zip").addEventListener("click", function () {
            console.log(document.getElementById("download-all-zip"), "pokkk")
            window.location.href = `/download-all-zip/`;  
        });
</script>
<script>
    function stopAnchorClick(event) {
        event.stopPropagation(); 
        event.preventDefault(); 
    }
    
    
</script>
<script>
    function openModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "flex";
        }
    }

    function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "none";
        }
    }

    document.getElementById("closeModalBtn")?.addEventListener("click", function() {
        closeModal("createFolderModal");
    });

    document.getElementById("closeUploadModalBtn")?.addEventListener("click", function() {
        closeModal("uploadFileModal");
    });
    document.getElementById("create-folder")?.addEventListener("click", function() {
        openModal("createFolderModal");
    });

    document.getElementById("upload-file")?.addEventListener("click", function() {
        openModal("uploadFileModal");
    });
    
</script>
<script>
    document.querySelectorAll('.three-dots').forEach(function (dot) {
        dot.addEventListener('click', function (event) {
            event.stopPropagation();

            const dropdownMenu = dot.querySelector('.dropdown-menu');
            if (dropdownMenu) {
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            }
        });
    });

    document.querySelectorAll('.dropdown-item').forEach(function (item) {
        item.addEventListener('click', function () {
            // Hide the dropdown menu
            const dropdownMenu = item.closest('.dropdown-menu');
            if (dropdownMenu) {
                dropdownMenu.style.display = 'none';
            }
        });
    });

    document.addEventListener('click', function () {
        document.querySelectorAll('.dropdown-menu').forEach(function (dropdownMenu) {
            dropdownMenu.style.display = 'none';
        });
    });

    
</script>
</body>
</html>